.members-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 20px;
  padding: 8px;
  overflow-y: scroll;
  max-height: 80vh;
}

li {
  list-style-type: none;
}