.members-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 20px;
  padding: 8px;
  overflow-y: scroll;
  max-height: 80vh;
}

li {
  list-style-type: none;
}

.members-article {
  border: black 1px solid;
  border-radius: 5%;
  padding: 8px;
  margin: 8px;
}

@media only screen and (max-width: 480px) {
  .members-container {
    display: flex;
    flex-direction: column;
  }
}