.view-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detail-container {
  flex-grow: 1;
}

.header {
  text-align: center;
  flex-shrink: 0;
}

.footer {
  text-align: center;
  flex-shrink: 0;
}