$main : #7a64db;
$secondary : #801f9b;
$tertiary : #80a2ad;

@keyframes mainAnimation {

  0% {
    width: 10px;
    transform: translateX(0px) translateY(0px) rotate(0deg);
  }

  20% {
    width: 10px;
    transform: translateX(0px) translateY(0px) rotate(0deg);
  }

  40% {
    width: 30px;
    transform: translateX(-10px) translateY(0px) rotate(0deg);
  }

  60% {
    width: 30px;
    transform-origin: bottom right;
    transform: translateX(-30px) translateY(0px) rotate(90deg);
  }

  80% {
    width: 10px;
    transform: translateX(-5px) translateY(0px) rotate(90deg);
  }

  100% {
    width: 10px;
    transform: translateX(-10px) translateY(0px) rotate(90deg);
  }

}

@keyframes secondaryAnimation {
  0% {
    transform: translateX(0px) translateY(0px) rotate(0deg);
  }

  20% {

    transform: translateX(0px) translateY(0px) rotate(180deg);

  }

  40% {

    transform: translateX(0px) translateY(0px) rotate(180deg);

  }

  60% {

    transform: translateX(0px) translateY(0px) rotate(0deg);

  }

  80% {

    transform: translateX(0px) translateY(0px) rotate(0deg);

  }

  100% {

    transform: translateX(0px) translateY(0px) rotate(180deg);

  }

}

.spinner {

  position: absolute;

  width: 10px;

  height: 10px;

  top: 50%;

  left: 50%;

  margin-top: -5px;

  margin-left: -5px;

  background-color: $main;

  transform: translateX(0px) translateY(0px) rotate(0deg);

  animation: mainAnimation 2.6s ease 0s infinite forwards;

  z-index: 2;

  &:after {

    content: '';

    display: inline-block;

    position: absolute;

    width: 10px;

    height: 10px;

    top: 0;

    left: -10px;

    background-color: $main;

    transform-origin: top right;

    transform: translateX(0px) translateY(0px) rotate(0deg);

    animation: secundaryAnimation 2.6s ease 0s infinite forwards;

  }

}